.titulo{
text-align: center;
}

.fondo{
    border:2px solid black;
}

.seccionPerfil{
background-color: #9191E9;
width: 33%;
}
.contendor1{
    background-color: #9191E9;
    width: 33%;
    border-radius: 10;
}
.contendor0{
    width: 1005;
    flex-direction: row;
    ;
}